@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

html {overflow: hidden; overflow-y: auto;}

body{
    background-color: #E6E6E6;
    /*background-image: url("http://files.parsetfss.com/c9ae0f58-96e8-4c4b-a340-524194fd6703/tfss-6a6eac04-94a2-4651-9d74-84768ec29597-Rose-Grey-Seamless-Patterns-For-Website-Background.jpg");
    background-size: cover;
    background-repeat:repeat;*/
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
}
p, span{
    font-family: 'Dosis',sans-serif;
    font-size: 1.2em;
}
.top-30{
    margin-top: 30px;
}
.top-20{
    margin-top: 20px;
}
.top-10{
    margin-top: 20px;
}

/*card*/
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    cursor: pointer;
    cursor: hand;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    width: 100%;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    
    bbackground: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
    width: 30%;
    height: 188px;
    max-height: 188px;
    min-height: 188px;
}

.grid-group-item img
{
    float: left;
    width: 100%;
    align-items: stretch;
    height: 140px;
    max-height: 140px;
    min-height: 140px;
}

.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
.show-read-more-text{
    display: none;
 }
.menu-main{
    border-radius: 1px;
}

/*search*/
#search {
    float: right;
    margin-top: 9px;
    width: 250px;
}

.search {
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px;
}

.search input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left: 210px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius:1px;
}

.search:hover input, .search input:focus {
    width: 200px;
    margin-left: 0px;
}

.btn-search {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border-radius:1px;
}
/*.active{
    background-color: #10C9B5;
}*/
.btn{
    background-color: #10C9B5!important;
}
.btn-delete{
    background-color: darkred!important;
    color: white!important;
}
.btn-edit{
    background-color: dimgray!important;
    color: white!important;
}
/*categories*/
.bg-white{
    background-color: #fff!important;
    border-radius: 2px;
    padding: 10px 10px 15px 10px;
    margin-bottom: 10px;
}
.bg-cat{
    /*background-color: #fff!important;*/
    border-radius: 2px;
    padding: 10px 10px 15px 10px;
    margin-bottom: 10px;
}
.img-detail{

}

.item-date{
    font-size: .8em;
    color:#10C9B5//////////////////////////////////////////;
}

.cursor-hand:hover {
    cursor: pointer;
    cursor: hand;
}

.cursor-hand a:hover{
    text-decoration: none;   
}
.menu-dropdown{
    background-color: #056;
    width: auto;
    height:auto;
    border-radius: 0px;
}

.card-nb{
    margin-bottom: 10px;
}
@media(max-width: 768px){
    .container{
        padding:0;
        overflow-x: hidden;
    }
    .grid-group-item img{
        width: 273px;
    }
    .img-detail img{
        height: 100px;
        max-height: 100px;
        min-height: 100px;
    }
}
#products-xs img{
    height:140px;
    min-height: 140px;
    max-height: 140px;
    width: 100%;
    align-items: stretch;
}

#cover {
    position: fixed;
    height: 100%; 
    width: 100%; 
    top:0; 
    left: 0; 
    background: #056; z-index:9999; 
    text-align: center; 
    padding-top: 50px; 
    color: #fff;
}

.img-detail{
    height:50vh;
    min-height: 50vh;
    max-height: 50vh;
    width: 100%;
    align-items: stretch;
}

.item-content{
    padding:20px;
}
.text-white{
    color: white;
}
.help-block{
    font-size: 1.0em;
}

.the-footer{
    background-color: #056;
    color: #fff;
}

.the-footer a{
    color: #fff;
    text-decoration-color: #fff;
    text-decoration: none;
}
.chat{
    margin-top: 20px;
}

#dvPreview img{
    max-height: 250px;
    max-width: 250px;
}